<!DOCTYPE html>
<html>
<head>
	<title>Smart Cooking</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/jquery.mobile-1.4.3.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/jquery.mobile.theme-1.4.3.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/jquery.mobile.icons-1.4.3.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/jquery.mobile.structure-1.4.3.min.css')}}" type="text/css" />
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/jquery.mobile-1.4.3.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/styles.css')}}" type="text/css" />

    <script language="javascript" type="text/javascript"> 
    function settimeout(){
    	window.setTimeout("document.getElementById('PSwO').submit();", 1500); 
    	document.getElementById('positionWindow').style.display = none;
    } 
    </script>
</head>
<body>
	<div data-role="page" id="page4" data-title="Menu" data-url="{{ url_for('menu') }}" data-theme="e" style="background-image:url({{url_for('static',filename = 'images/background.jpg')}});min-height:100%; background-repeat:repeat repeat;">
		<div data-role="header" data-theme="a" data-fullscreen="false" data-position="" data-tap-toggle="true" data-track-persistent-toolbars="true">
			<a class="ui-btn-auto" data-theme="b" data-icon="bars" data-iconpos="notext" data-transition="none" href="#page3">Button</a>
			<div style="background-repeat:repeat repeat;height:40px;text-align:center;overflow:hidden;float:$float">
				<a href="">
					<img src="{{url_for('static',filename = 'images/icon.png')}}" style="height:40px;text-align:center;margin:0px;padding:0px;"/>
				</a>
			</div>
		</div>
		<!--start content-->
		<div role="main" class="ui-content" style="margin:0px;padding:1em;">
			
			<div style="float:left;width:50%;min-height:1px;width:48%;margin:0 0 30px 0;padding:0px;"onclick="document.getElementById('BwB').submit();return false;">
				<!-- <a href=""> -->
				<form id = "BwB" action="{{ url_for('menu') }}" method=post>
					<input type="hidden" name="mealname" value="BwB" />
				</form>
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<div style="text-align:center;">
							<h3>Beef with Broccoli</h3>
						</div>
					</div>
					<div class="ui-body ui-body-a">
						<img src="{{url_for('static',filename = 'images/BwB.png')}}" style="width:100%;text-align:center;margin:0px;padding:0px;"/>
						<font size="1" style="width:100%;text-align:left;margin:0px;padding:0px;">Best Seller!!!!</font>
						<p style="width:100%;text-align:right;margin:0px;padding:0px;"><img src="{{url_for('static',filename = 'images/cloud ok.png')}}" style="width:10%;text-align:left;margin:0px;padding:0px;"/></p>
					</div>
				</div>
				<!-- </a> -->
			</div>

			<!-- <div class = "show-page-loading-msg" data-theme="a" data-textonly="false" data-textvisible="true" data-msgtext="Downloading Meal ..." data-inline="true"style="float:right;width:50%;min-height:1px;width:48%;margin:0 0 30px 0;padding:0px;"> document.getElementById('positionWindow').style.display = none; -->
			<div style="float:right;width:50%;min-height:1px;width:48%;margin:0 0 30px 0;padding:0px;"onclick="settimeout(); return false;">
				<form id = "PSwO" action="{{ url_for('menu') }}" method=post>
					<input type="hidden" name="mealname" value="PSwO" />
				</form>
				<a href="#positionWindow" data-rel="popup" data-position-to="window" style = "text-decoration: none"> 
					<div class="ui-corner-all custom-corners">
						<div class="ui-bar ui-bar-a">
							<div style="text-align:center;">
								<h3>Pepper Steak with Onion</h3>
							</div>
						</div>
						<div class="ui-body ui-body-a">
							<img src="{{url_for('static',filename = 'images/PSwO.png')}}" style="width:100%;text-align:center;margin:0px;padding:0px;"/>
							<font size="1">Chef Recommendation!!!</font>
							<p style="width:100%;text-align:right;margin:0px;padding:0px;"><img src="{{url_for('static',filename = 'images/cloud download.png')}}" style="width:10%;text-align:left;margin:0px;padding:0px;"/></p>
						</div>
					</div>
				</a>
				<div data-role="popup" id="positionWindow" class="ui-content" data-theme="a">
					<div style="text-align:center;">
						<img src="{{url_for('static',filename = 'css/images/ajax-loader.gif')}}" style="width:20%;text-align:center;margin:0px;padding:0px;"/>
					</div>
					<h4>Downloading Meal..</h4>					
				</div>
			</div>

			

			<div style="float:right;width:50%;min-height:1px;width:48%;margin:0 0 30px 0;padding:0px;" onclick="document.getElementById('HCPC').submit();return false;">
				<!-- <a href="http://{{server_ip}}:5000/cooking?name=SSP" > -->
				<form id = "HCPC" action="{{ url_for('menu') }}" method=post>
					<input type="hidden" name="mealname" value="HC-PC" />
				</form>
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<div style="text-align:center;">
							<h3>HC-Pineapple Chicken</h3>
						</div>
					</div>
					<div class="ui-body ui-body-a">
						<img src="{{url_for('static',filename = 'images/HC-PC.png')}}" style="width:100%;text-align:center;margin:0px;padding:0px;"/>
						<font size="1">Make my mouth water!!</font>
						<p style="width:100%;text-align:right;margin:0px;padding:0px;"><img src="{{url_for('static',filename = 'images/cloud ok.png')}}" style="width:10%;text-align:left;margin:0px;padding:0px;"/></p>
					</div>
				</div>
				<!-- </a> -->
			</div>

			<div style="float:left;width:50%;min-height:1px;width:48%;margin:0 0 30px 0;padding:0px;">
				<!-- <a href=""> -->
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<div style="text-align:center;">
							<h3>Shrimp with Lobster Sauce</h3>
						</div>
					</div>
					<div class="ui-body ui-body-a">
						<img src="{{url_for('static',filename = 'images/SwL.png')}}" style="width:100%;text-align:center;margin:0px;padding:0px;"/>
						<font size="1">Hmm, Good, very Good!!</font>
						<p style="width:100%;text-align:right;margin:0px;padding:0px;"><img src="{{url_for('static',filename = 'images/cloud ok.png')}}" style="width:10%;text-align:left;margin:0px;padding:0px;"/></p>
					</div>
				</div>
			</div>
		</div>

		<!--end content-->
		<div data-role="panel" id="page3" style="background-image:url({{url_for('static',filename = 'images/background.jpg')}});min-height:100%; background-repeat:repeat repeat;" data-theme="a" data-animate="false" data-display="reveal" data-position="left">
			<div class="ui-body ui-body-e " style="margin:auto;padding:0px;background-repeat:repeat repeat;">
				<div style="overflow:auto">
					<div style="float:left;min-height:1px;width:15%;margin:0px;padding:0px;">
						<a class="ui-btn ui-shadow ui-corner-all ui-icon-user ui-btn-icon-notext" name="text-user" id="text-user" data-inline="true" href="http://{{server_ip}}:5000/account">User</a><!--href="index.html"-->
					</div>
					<div style="float:left;min-height:1px;width:45%;margin:0px;padding:0px;">
						<div style="text-align:left;color:#fa6800;font-size:xx-large;font-weight:normal;font-style:normal;margin:0px;padding:0px;">{{user.nickname}}</div>
					</div>
					<div style="float:left;min-height:1px;width:11%;margin:0px;padding:0px;">
						<a href="#popupLogin" data-rel="popup" data-position-to="window" class="ui-btn ui-mini ui-corner-all ui-btn-inline ui-icon-star ui-btn-icon-notext ui-btn-a" data-transition="pop"></a>
						<div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
							<form>
								<div style="padding:10px 20px;">
									<h3>Would you like watch an AD for coupons?</h3>
									<input type="button" data-inline="true" value="Ok">
									<input type="button" data-inline="true" value="No">
								</div>
							</form>
						</div>
					</div>
					<div style="float:left;min-height:1px;width:5%;margin:0px;padding:0px;">
						<div style="text-align:right;color:#cc6600;font-size:1;font-weight:normal;font-style:normal;margin:13px;padding:0px;">300</div>
					</div>
				</div>
				<ul data-role="listview">
					<li><a href = "http://{{server_ip}}:5000/menu">Chef Today</a></li>
					<li><a href = "#">Pot Status</a></li>
					<li><a href = "#">Shop Nearby</a></li>
					<li><a href = "#">My Favorite</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>

