{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SmartWok - Change Email{% endblock %}

{% block page_content %}
<!-- Main Container Starts -->
<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
	<ol class="breadcrumb">
		<li>
			<a href="index.html">Home</a>
		</li>
		<li class="active">Change Email</li>
	</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
	<h2 class="main-heading">Change Your Email Address</h2>
	<!-- Main Heading Ends -->
	<!-- Change Email Form Section Starts -->
	<section class="login-area">
		<div class="row">
			<div class="col-sm-6">
				<!-- Login Panel Starts -->
				<div class="panel panel-smart">
					<div class="panel-body">{{ wtf.quick_form(form) }}</div>
					<br>
				</div>
				<!-- Login Panel Ends -->
			</div>
		</div>
	</section>
	<!-- Change Email Form Section Ends -->
</div>
<!-- Main Container Ends -->
{% endblock %}