<p>Ingredients: </p>
<p>
	3/4 lb (375 g) lean Beef, sliced thinly into bite-sized pieces
</p>
<p>Marinade for Beef:</p>
<p>1 egg</p>
<p>1/3 tsp (1.5 mL) salt</p>
<p>1 Tbsp (15 mL) cooking wine</p>
<p>1 Tbsp (15 mL) cornstarch</p>
<p>2 Tbsp water</p>
<p>Other Ingredients</p>
<p>1 1/2 Tbsp (20 mL) oil</p>
<p>
	1 1/2 lb (750 g) Broccoli, flowerets removed, slice on the diagonal into thin slices
</p>
<p>1 cup (250 mL) cooking oil</p>
<p>2 1/2 Tbsp (30 mL) oyster sauce</p>
<p>1/2 jar of oysters (drained)</p>
<p>2 Tbsp (25 mL) light soy sauce</p>
<p>3/4 Tbsp (10 mL) dark soy sauce</p>
<p>1 Tbsp (15 mL) Sugar</p>
<p>a few drops of sesame oil</p>
<p>2 cloves garlic, crushed</p>
<p>1/2 cup (125 mL) chicken broth</p>
<p>2 Tbsp cornstarch (if desired).</p>