<p>
	Pepper steak (Chinese: 青椒牛 or 青椒牛肉, pinyin: qīngjiāo niúròu; Japanese: チンジャオロース, chinjaorōsu; also called green pepper steak) is a stir-fried Chinese American dish consisting of sliced beef steak (often flank, sirloin, or round) cooked with sliced green and/or red bell peppers and other seasonings such as soy sauce and ginger, and usually thickened with cornstarch. Sliced onions and bean sprouts are also frequent additions to the recipe.
</p>
<p>
	Evidence for the dish's existence in the United States dates from at least 1948.[1] The dish originated from Fujian cuisine, where it was known as qīngjiāo ròusī (青椒炒肉絲).[1] In the original dish the meat used was pork and the seasonings were relatively light compared to pepper steak./
</p>
<p>
	Similar dishes include a dish called chin-jao rōsu (青椒肉絲) found in Japanese Chinese cuisine and Steak au poivre found in french cuisine."
</p>