<p>1/2 - 3/4 pound shrimp</p>
<p>1 tablespoon Chinese rice wine or dry sherry</p>
<p>1/2 teaspoon salt</p>
<p>1 tablespoon cornstarch</p>
<p>1/2 pound Chinese greens (bok choy)</p>
<p>4 ounces fresh mushrooms, or 6 Chinese dried mushrooms (also called dried Shiitake mushrooms)</p>
<p>2 tablespoons vegetable or peanut oil for stir-frying, or as needed</p>
<p>2 thin slices ginger</p>
<p>1/4 teaspoon salt</p>
<p>1/4 cup chicken broth, sodium-reduced if possible</p>
<p>1/2 teaspoon sugar</p>
<p>1 tablespoon light soy sauce</p>
<p>black pepper, to taste</p>
<p>1 teaspoon cornstarch mixed with 2 teaspoons water</p>