{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SmartWok - Recipe - {{ dish.name }}{% endblock %}
{% block page_content %}
<!-- Main Container Starts -->
<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
	<ol class="breadcrumb">
		<li>
			<a href="index.html">Shopping</a>
		</li>
		<li>
			<a href="category-grid.html">Recipes</a>
		</li>
		<li class="active">{{ dish.name }}</li>
	</ol>
	<!-- Breadcrumb Ends -->
	<!-- Product Info Starts -->
	<div class="row product-info full">
		<!-- Left Starts -->
		<div class="col-sm-4 images-block">
			<a href={{ url_for('static', filename = dish.img_path() + '/dish1.png', _external=True) }}>
				<img src= {{ url_for('static', filename = dish.img_path() + '/dish1.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />
			</a>
			<ul class="list-unstyled list-inline">
				<li>
					<a href={{ url_for('static', filename = dish.img_path() + '/nf.png', _external=True) }}>
						<img src= {{ url_for('static', filename = dish.img_path() + '/nfs.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />
					</a>
				</li>
			</ul>
		</div>
		<!-- Left Ends -->
		<!-- Right Starts -->
		<div class="col-sm-8 product-details">
			<div class="panel-smart">
				<!-- Product Name Starts -->
				<h2>{{ dish.name }}</h2>
				{% if current_user.is_authenticated() %}
					<a href= {{ url_for('main.rating') }}> 
						<button type="button" class="btn btn-wishlist">
							Rate This				
							</i>
						</button>
					</a>
				{% else %}
					<a href= {{ url_for('auth.login') }}> 
						<button type="button" class="btn btn-wishlist">
							Rate This				
							</i>
						</button>
					</a>
				{% endif %}
				{% if current_user.is_authenticated() %}
					<a href= {{ url_for('main.cooking') }}> 
						<button type="button" class="btn btn-cart">
							Start cooking				
							</i>
						</button>
					</a>
				{% else %}
					<a href= {{ url_for('auth.login') }}> 
						<button type="button" class="btn btn-cart">
							Start cooking				
							</i>
						</button>
					</a>
				{% endif %}

				<!-- Product Name Ends -->
				<hr />
				<!-- Manufacturer Starts -->
				<ul class="list-unstyled manufacturer">
					<li>
						<span>Provider:</span>
						Indian spices
					</li>
					<li>
						<span>Availability:</span> <strong class="label label-danger">In Stock</strong>
					</li>
				</ul>
				<!-- Manufacturer Ends -->
				<hr />
				<!-- Price Starts -->
				<div class="price">
					<span class="price-head">Price :</span>
					<span class="price-new">$ {{'%0.2f' %dish.price_new}}</span>
					<span class="price-old">$ {{'%0.2f' %dish.price_old}}</span>
				</div>
				<!-- Price Ends -->
				<hr />
				<!-- Available Options Starts -->
				<div class="options">
					<div class="cart-button button-group">
						<button type="button" title="Wishlist" class="btn btn-wishlist"> <i class="fa fa-heart"></i>
						</button>
						<button type="button" title="Compare" class="btn btn-compare"> <i class="fa fa-bar-chart-o"></i>
						</button>
						<button type="button" class="btn btn-cart">
							Add to cart
							<i class="fa fa-shopping-cart"></i>
						</button>
					</div>
				</div>
				<!-- Available Options Ends -->
			</div>
		</div>
		<!-- Right Ends -->
	</div>
	<!-- Product Info Ends -->
	<!-- Tabs Starts -->
	<div class="tabs-panel panel-smart">
		<!-- Nav Tabs Starts -->
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab-description">Description</a>
			</li>
			<li>
				<a href="#tab-specification">Nutrition Facts</a>
			</li>
			<li>
				<a href="#tab-ainfo">Reviews</a>
			</li>
		</ul>
		<!-- Nav Tabs Ends -->
		<!-- Tab Content Starts -->
		<div class="tab-content clearfix">
			<!-- Description Starts -->
			<div class="tab-pane active" id="tab-description">
				<p>
					{% include dish.tem_path() %}
				</p>
			</div>
			<!-- Description Ends -->
			<!-- Nutrition Facts Starts -->
			<div class="tab-pane" id="tab-specification">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td colspan="2"> <strong>Amount Per Serving</strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Calories</td>
							<td>40</td>
							<td></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Calories from Fat</td>
							<td>4</td>
							<td></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Total Fat</td>
							<td>0.5g</td>
							<td>1%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Saturated Fat</td>
							<td>0.1g</td>
							<td>0%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Trans Fat</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Cholesterol</td>
							<td>0.0mg</td>
							<td>0%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Sodium</td>
							<td>38.3mg</td>
							<td>2%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Total Carbohydrate</td>
							<td>7.4g</td>
							<td>2%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Dietary Fiber</td>
							<td></td>
							<td>%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Sugars</td>
							<td>2.8g</td>
							<td></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Potein</td>
							<td>4.2g</td>
							<td></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Vitamin A</td>
							<td></td>
							<td>85%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Calcium</td>
							<td></td>
							<td>7%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Vitamin C</td>
							<td></td>
							<td>220%</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>Iron</td>
							<td></td>
							<td>7%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Nutrition Facts Ends -->
			<!-- Reviews Starts -->
			<div class="tab-pane" id="tab-ainfo">
				<div class="form-group required">
					<label class="col-sm-2 control-label ratings">Overall Rating</label>
					<div class="col-sm-10">
						Bad&nbsp;
						<input type="radio" name="rating" value="1" />
						&nbsp;
						<input type="radio" name="rating" value="2" />
						&nbsp;
						<input type="radio" name="rating" value="3" />
						&nbsp;
						<input type="radio" name="rating" value="4" />
						&nbsp;
						<input type="radio" name="rating" value="5" />
						&nbsp;Good
					</div>
				</div>
				<p>
					<br></br><b>Reader Rating: 4 out of 5 stars</b> From Richard<br></br>
Comments: "This recipe is excellent, the taste is truely unforgettable. I love everything about the beef and the way it tastes after it is marinated and cooked to perfection. The crispy flavor of the broccoli makes the Chinese stir fry even more delicious than before."<br></br>
<b>Reader Rating: 5 out of 5 stars</b> From Michelle<br></br>
Comments: "My family loved it. I added onions for more flavor, and next time I'll cook in chile oil for a litle more kick." 
				</p>
			</div>
			<!-- Reviews Ends -->
			<!-- Review Starts -->
<!--			<div class="tab-pane" id="tab-review">
				<form class="form-horizontal">
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name">Name</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="" id="input-name" class="form-control" />
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-review">Review</label>
						<div class="col-sm-10">
							<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
							<div class="help-block">Some note goes here..</div>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label ratings">Ratings</label>
						<div class="col-sm-10">
							Bad&nbsp;
							<input type="radio" name="rating" value="1" />
							&nbsp;
							<input type="radio" name="rating" value="2" />
							&nbsp;
							<input type="radio" name="rating" value="3" />
							&nbsp;
							<input type="radio" name="rating" value="4" />
							&nbsp;
							<input type="radio" name="rating" value="5" />
							&nbsp;Good
						</div>
					</div>
					<div class="buttons">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" id="button-review" class="btn btn-warning">Submit</button>
						</div>
					</div>
				</form>
			</div>
-->			<!-- Review Ends -->
		</div>
		<!-- Tab Content Ends -->
	</div>
	<!-- Tabs Ends -->
	<!-- Guess You Like Starts -->
	<div class="product-info-box">
		<h4 class="heading">Guess You Like</h4>
		<!-- Products Row Starts -->
		<div class="row">
			<!-- Product #1 Starts -->
			<div class="col-md-3 col-sm-6">
				<div class="product-col">
					<div class="image">
						<img src={{ url_for('static', filename = 'images/recipe/show/show1.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />

					</div>
					<div class="caption">
						<h4>
							<a href="product.html">Pork with Cucumbers</a>
						</h4>
						<div class="description">
							We are so lucky living in such a wonderful time. Our almost unlimited ...
						</div>
						<div class="price">
							<span class="price-new">$0.00</span>
							<span class="price-old">$0.09</span>
						</div>
						<div class="cart-button button-group">
							<button type="button" title="Wishlist" class="btn btn-wishlist">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" title="Compare" class="btn btn-compare">
								<i class="fa fa-bar-chart-o"></i>
							</button>
							<button type="button" class="btn btn-cart">
								Add to cart
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Product #1 Ends -->
			<!-- Product #2 Starts -->
			<div class="col-md-3 col-sm-6">
				<div class="product-col">
					<div class="image">
						<img src={{ url_for('static', filename = 'images/recipe/show/show2.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />
					</div>
					<div class="caption">
						<h4>
							<a href="product.html">Sliced Potato with Pepper</a>
						</h4>
						<div class="description">
							We are so lucky living in such a wonderful time. Our almost unlimited ...
						</div>
						<div class="price">
							<span class="price-new">$0.00</span>
							<span class="price-old">$0.09</span>
						</div>
						<div class="cart-button button-group">
							<button type="button" title="Wishlist" class="btn btn-wishlist">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" title="Compare" class="btn btn-compare">
								<i class="fa fa-bar-chart-o"></i>
							</button>
							<button type="button" class="btn btn-cart">
								Add to cart
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Product #2 Ends -->
			<!-- Product #3 Starts -->
			<div class="col-md-3 col-sm-6">
				<div class="product-col">
					<div class="image">
						<img src={{ url_for('static', filename = 'images/recipe/show/show3.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />
					</div>
					<div class="caption">
						<h4>
							<a href="product.html">Ma Po Tofu</a>
						</h4>
						<div class="description">
							We are so lucky living in such a wonderful time. Our almost unlimited ...
						</div>
						<div class="price">
							<span class="price-new">$0.00</span>
							<span class="price-old">$0.09</span>
						</div>
						<div class="cart-button button-group">
							<button type="button" title="Wishlist" class="btn btn-wishlist">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" title="Compare" class="btn btn-compare">
								<i class="fa fa-bar-chart-o"></i>
							</button>
							<button type="button" class="btn btn-cart">
								Add to cart
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Product #3 Ends -->
			<!-- Product #4 Starts -->
			<div class="col-md-3 col-sm-6">
				<div class="product-col">
					<div class="image">
						<img src={{ url_for('static', filename = 'images/recipe/show/show4.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />
					</div>
					<div class="caption">
						<h4>
							<a href="product.html">Hong Shao Rou</a>
						</h4>
						<div class="description">
							We are so lucky living in such a wonderful time. Our almost unlimited ...
						</div>
						<div class="price">
							<span class="price-new">$0.00</span>
							<span class="price-old">$0.09</span>
						</div>
						<div class="cart-button button-group">
							<button type="button" title="Wishlist" class="btn btn-wishlist">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" title="Compare" class="btn btn-compare">
								<i class="fa fa-bar-chart-o"></i>
							</button>
							<button type="button" class="btn btn-cart">
								Add to cart
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Product #4 Ends -->
		</div>
		<!-- Products Row Ends -->
	</div>
	<!-- Guess You Like Ends -->
</div>
<!-- Main Container Ends -->
{% endblock %}
