{% extends "base.html" %}

{% block title %}SmartWok{% endblock %}

{% block page_content %}
	<!-- Slider Section Starts -->
		<div class="slider">
			<div class="container">
				<div id="main-carousel" class="carousel slide" data-ride="carousel">
					<!-- Wrapper For Slides Starts -->
						<div class="carousel-inner">
							<div class="item active" align="center">
								<img src= {{ url_for('static', filename='images/slider-imgs/banner01.jpg', _external=True) }} alt="Slider" class="img-responsive" />
							</div>
							<div class="item" align="center">
								<img src= {{ url_for('static', filename='images/slider-imgs/banner02.jpg', _external=True) }} alt="Slider" class="img-responsive" /> 
							</div>
							<div class="item" align="center">
								<img src= {{ url_for('static', filename='images/slider-imgs/banner03.jpg', _external=True) }} alt="Slider" class="img-responsive" />
							</div>
						</div>
					<!-- Wrapper For Slides Ends -->
					<!-- Controls Starts -->
						<a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					<!-- Controls Ends -->
				</div>				
			</div>
		</div>
	<!-- Slider Section Ends -->
	<!-- 3 Column Banners Starts -->
		<div class="col3-banners">
			<div class="container">
				<ul class="row list-unstyled">
					<li class="col-sm-4">
						<img src= {{ url_for('static', filename='images/banners/3col-1.png', _external=True) }} alt="banners" class="img-responsive" />
					</li>
					<li class="col-sm-4">
						<img src= {{ url_for('static', filename='images/banners/3col-2.png', _external=True) }} alt="banners" class="img-responsive" />
					</li>
					<li class="col-sm-4">
						<img src= {{ url_for('static', filename='images/banners/3col-3.png', _external=True) }} alt="banners" class="img-responsive" />
					</li>
				</ul>
			</div>
		</div>
	<!-- 3 Column Banners Ends -->
	<!-- Latest Products Starts -->
		<section class="products-list">			
			<div class="container">
			<!-- Heading Starts -->
				<h2 class="product-head">Latest Products</h2>
			<!-- Heading Ends -->
			<!-- Products Row Starts -->
				<div class="row">
				<!-- Product #1 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/1.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4><a href="product.html">Tang Rama Sala</a></h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #1 Ends -->
				<!-- Product #2 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/2.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4><a href="product.html">Vegetable Stir Fry</a></h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #2 Ends -->
				<!-- Product #3 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/3.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4><a href="product.html"></a>Mushrooms with Broccoli</h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$29.99</span> 
									<span class="price-old">$9.50</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #3 Ends -->
				<!-- Product #4 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/1.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4><a href="product.html">Tang Rama Sala</a></h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #4 Ends -->
				</div>
			<!-- Products Row Ends -->
			</div>
		</section>
	<!-- Latest Products Ends -->
	<!-- 2 Column Banners Starts -->
		<div class="col2-banners">
			<div class="container">
				<ul class="row list-unstyled">
					<li class="col-sm-4">
						<img src= {{ url_for('static', filename='images/banners/2col-banner1.jpg', _external=True) }} alt="banners" class="img-responsive" />
					</li>
					<li class="col-sm-8">
						<img src= {{ url_for('static', filename='images/banners/2col-banner2.jpg', _external=True) }} alt="banners" class="img-responsive" />
					</li>
				</ul>
			</div>
		</div>
	<!-- 2 Column Banners Ends -->
	<!-- Specials Products Starts -->
		<section class="products-list">			
			<div class="container">
			<!-- Heading Starts -->
				<h2 class="product-head">Specials Products</h2>
			<!-- Heading Ends -->
			<!-- Products Row Starts -->
				<div class="row">
				<!-- Product #1 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/1.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4>
									<a href="product-full.html">Tasty Chinese Dishes</a>
								</h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #1 Ends -->
				<!-- Product #2 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/2.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4>
									<a href="product-full.html">Tasty Chinese Dishes</a>
								</h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #2 Ends -->
				<!-- Product #3 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/3.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4>
									<a href="product-full.html">Tasty Chinese Dishes</a>
								</h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #3 Ends -->
				<!-- Product #4 Starts -->
					<div class="col-md-3 col-sm-6">
						<div class="product-col">
							<div class="image">
								<img src= {{ url_for('static', filename='images/product-images/1.jpg', _external=True) }} alt="product" class="img-responsive" />
							</div>
							<div class="caption">
								<h4>
									<a href="product-full.html">Tasty Chinese Dishes</a>
								</h4>
								<div class="description">
									We are so lucky living in such a wonderful time. Our almost unlimited ...
								</div>
								<div class="price">
									<span class="price-new">$9.99</span> 
									<span class="price-old">$19.99</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" title="Wishlist" class="btn btn-wishlist">
										<i class="fa fa-heart"></i>
									</button>
									<button type="button" title="Compare" class="btn btn-compare">
										<i class="fa fa-bar-chart-o"></i>
									</button>
									<button type="button" class="btn btn-cart">
										Add to cart
										<i class="fa fa-shopping-cart"></i> 
									</button>									
								</div>
							</div>
						</div>
					</div>
				<!-- Product #4 Ends -->
				</div>
			<!-- Products Row Ends -->
			</div>
		</section>
	<!-- Specials Products Ends -->
{% endblock %}