{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}SmartWok - Shopping{% endblock %}
{% block page_content %}
<!-- Main Container Starts -->
<div id="main-container" class="container">
<div class="row">
	<!-- Primary Content Starts -->
	<div class="col-md-9">
		<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">Shopping</li>
		</ol>
		<!-- Breadcrumb Ends -->
		<!-- Main Heading Starts -->
		<h2 class="main-heading2">Weekly Recommandation</h2>
		<!-- Main Heading Ends -->
		<!-- Category Intro Content Starts -->
		<div class="row cat-intro">
			<div class="col-sm-3">
				<img src= {{ url_for('static', filename = 'images/recipe/1/dish1s.png', _external=True) }} alt="Image" class="img-responsive thumbnail" />	
			</div>
			<div class="col-sm-9 cat-body">
				<h4> <a href = {{ url_for('main.dish', dish_id = 1) }}> Beef with Broccoli</a></h4>
				<p>
					Beef with broccoli, a classic dish among American Chinese food
				</p>
			</div>
		</div>
		<!-- Category Intro Content Ends -->
		<!-- Product Filter Starts -->
		<div class="product-filter">
			<div class="row">
				<div class="col-md-4">
					<div class="display">
						<a href="category-list.html" class="active">
							<i class="fa fa-th-list" title="List View"></i>
						</a>
						<a href="category-grid.html">
							<i class="fa fa-th" title="Grid View"></i>
						</a>
					</div>
				</div>
				<div class="col-md-2 text-right">
					<label class="control-label">Sort</label>
				</div>
				<div class="col-md-3 text-right">
					<select class="form-control">
						<option value="default" selected="selected">Default</option>
						<option value="NAZ">Name (A - Z)</option>
						<option value="NZA">Review (High - Low)</option>
					</select>
				</div>
				<div class="col-md-1 text-right">
					<label class="control-label">Show</label>
				</div>
				<div class="col-md-2 text-right">
					<select class="form-control">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3" selected="selected">3</option>
					</select>
				</div>
			</div>
		</div>
		<!-- Product Filter Ends -->
		<!-- Product List Display Starts -->		
		<div class="row">
			{% for dish in dishes %}
			<!-- Product #1 Starts -->			
			<div class="col-xs-12">
				<div class="product-col list clearfix">
					<div class="image">
						<img src= {{ url_for('static', filename=dish.img_path()+ '/dish1s.png', _external=True) }} alt="product" class="img-responsive" />				
					</div>
					<div class="caption">
						<h4>
							<a href={{ url_for('main.dish', dish_id = dish.id) }}>{{ dish.name }}</a>
						</h4>
						<div class="description">
							<p> {{ dish.description }} </p>
						</div>
						<div class="price">
							<p class="price-tax">Ex Tax: ${{'%0.2f' %dish.price_new}}</p>
							<span class="price-new">$ {{'%0.2f' %dish.price_new}}</span>
							<span class="price-old">$ {{'%0.2f' %dish.price_old}}</span>
						</div>
						<div class="cart-button button-group">
							<button type="button" title="Wishlist" class="btn btn-wishlist"> <i class="fa fa-heart"></i>
							</button>
							<button type="button" title="Compare" class="btn btn-compare"> <i class="fa fa-bar-chart-o"></i>
							</button>
							<button type="button" class="btn btn-cart">
								Add to cart
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Product #1 Ends -->			
			{% endfor %}
			<!-- Pagination & Results Starts -->
			<div class="pagination">
				{{ macros.pagination_widget(pagination, '.shopping') }}
			</div>
			<!-- Pagination & Results Ends -->
		</div>
	</div>	
	<!-- Primary Content Ends -->
	<!-- Sidebar Starts -->
	<div class="col-md-3">
		<!-- Categories Links Starts -->
		<h3 class="side-heading">Categories</h3>
		<div class="list-group">
			<a href="category-grid.html" class="list-group-item">
				<i class="fa fa-chevron-right"></i>
				Stir-fry
			</a>
			<a href="category-grid.html" class="list-group-item">
				<i class="fa fa-chevron-right"></i>
				Steam
			</a>
			<a href="category-grid.html" class="list-group-item">
				<i class="fa fa-chevron-right"></i>
				Boil
			</a>
			<a href="category-grid.html" class="list-group-item">
				<i class="fa fa-chevron-right"></i>
				Fry
			</a>
			<a href="category-grid.html" class="list-group-item">
				<i class="fa fa-chevron-right"></i>
				Braise
			</a>
		</div>
		<!-- Categories Links Ends -->
		<!-- Shopping Options Starts -->
		<h3 class="side-heading">Shopping Options</h3>
		<div class="list-group">
			<div class="list-group-item">Brands</div>
			<div class="list-group-item">
				<div class="filter-group">
					<label class="checkbox">
						<input name="filter1" type="checkbox" value="br1" checked="checked" />
						TNL
					</label>
					<label class="checkbox">
						<input name="filter2" type="checkbox" value="br2" />
						Hanlin
					</label>
					<label class="checkbox">
						<input name="filter2" type="checkbox" value="br2" />
						Unknown
					</label>
				</div>
			</div>
			<div class="list-group-item">Manufacturer</div>
			<div class="list-group-item">
				<div class="filter-group">
					<label class="radio">
						<input name="filter-manuf" type="radio" value="mr1" checked="checked" />
						Healthy Choice
					</label>
					<label class="radio">
						<input name="filter-manuf" type="radio" value="mr2" />
						LG
					</label>
					<label class="radio">
						<input name="filter-manuf" type="radio" value="mr3" />
						Marie Callender's
					</label>
				</div>
			</div>
			<div class="list-group-item">
				<button type="button" class="btn btn-warning">Filter</button>
			</div>
		</div>
		<!-- Shopping Options Ends -->
	</div>
	<!-- Sidebar Ends -->
</div>
</div>
<!-- Main Container Ends -->		
{% endblock %}	
